<!DOCTYPE html>
<html>
<head>
    <title>Weapons - All</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/update" method="get">
    <table>
        <caption>Weapons</caption>
        <tr>
            <th rowspan="2">Weapon, Infusion</th>
            <th rowspan="2">Class</th>
            <th rowspan="2">Critical<br>Modifier</th>
            <th rowspan="2">Durability</th>
            <th rowspan="2">Weight</th>
            <th rowspan="2">Upgrade<br>Material</th>
            <th colspan="5">Base Damage</th>
            <th colspan="4">Scaling</th>
            <th colspan="4">Requirements</th>
        </tr>
        <tr>
            <th>Physical</th>
            <th>Magic</th>
            <th>Fire</th>
            <th>Lightning</th>
            <th>Dark</th>
            <th>Strength</th>
            <th>Dexterity</th>
            <th>Intelligence</th>
            <th>Faith</th>
            <th>Strength</th>
            <th>Dexterity</th>
            <th>Intelligence</th>
            <th>Faith</th>
        </tr>
        <tr style="vertical-align: top;">
            <td>
                <input name="Wep_Name" type = "hidden" value = " <%= weapon.Wep_Name %>" style="width: auto;" required/><%= weapon.Wep_Name %>,
                <input name="Wep_Infus" type = "hidden" value = " <%= weapon.Wep_Infus %>"/><%= weapon.Wep_Infus%>

            </td>
            <td>
                <select name="Wep_Class">
                    <option value = "Dagger" <% if(weapon.Wep_Class==="Dagger"){ %> selected <% } %>>Dagger
                    <option value = "Straight Sword" <% if(weapon.Wep_Class==="Straight Sword"){ %> selected <% } %>>Straight Sword
                    <option value = "Greatsword" <% if(weapon.Wep_Class==="Greatsword"){ %> selected <% } %>>Greatsword
                    <option value = "Ultra Greatsword" <% if(weapon.Wep_Class==="Ultra Greatsword"){ %> selected <% } %>>Ultra Greatsword
                    <option disabled>─────────</option>
                    <option value = "Curved Sword" <% if(weapon.Wep_Class==="Curved Sword"){ %> selected <% } %>>Curved Sword
                    <option value = "Curved Greatsword" <% if(weapon.Wep_Class==="Curved Greatsword"){ %> selected <% } %>>Curved Greatsword
                    <option disabled>─────────</option>
                    <option value = "Katana" <% if(weapon.Wep_Class==="Katana"){ %> selected <% } %>>Katana
                    <option disabled>─────────</option>
                    <option value = "Piercing Sword" <% if(weapon.Wep_Class==="Piercing Sword"){ %> selected <% } %>>Piercing Sword
                    <option disabled>─────────</option>
                    <option value = "Axe" <% if(weapon.Wep_Class==="Axe"){ %> selected <% } %>>Axe
                    <option value = "Greataxe" <% if(weapon.Wep_Class==="Greataxe"){ %> selected <% } %>>Greataxe
                    <option disabled>─────────</option>
                    <option value = "Hammer" <% if(weapon.Wep_Class==="Hammer"){ %> selected <% } %>>Hammer
                    <option value = "Great Hammer" <% if(weapon.Wep_Class==="Great Hammer"){ %> selected <% } %>>Great Hammer
                    <option disabled>─────────</option>
                    <option value = "Claw" <% if(weapon.Wep_Class==="Claw"){ %> selected <% } %>>Claw
                    <option value = "Fist" <% if(weapon.Wep_Class==="Fist"){ %> selected <% } %>>Fist
                    <option disabled>─────────</option>
                    <option value = "Spear" <% if(weapon.Wep_Class==="Spear"){ %> selected <% } %>>Spear
                    <option value = "Pike" <% if(weapon.Wep_Class==="Pike"){ %> selected <% } %>>Pike
                    <option disabled>─────────</option>
                    <option value = "Halberd" <% if(weapon.Wep_Class==="Halberd"){ %> selected <% } %>>Halberd
                    <option value = "Reaper" <% if(weapon.Wep_Class==="Reaper"){ %> selected <% } %>>Reaper
                    <option disabled>─────────</option>
                    <option value = "Whip" <% if(weapon.Wep_Class==="Whip"){ %> selected <% } %>>Whip
                    <option disabled>─────────</option>
                    <option value = "Bow" <% if(weapon.Wep_Class==="Bow"){ %> selected <% } %>>Bow
                    <option value = "Greatbow" <% if(weapon.Wep_Class==="Greatbow"){ %> selected <% } %>>Greatbow
                    <option value = "Crossbow" <% if(weapon.Wep_Class==="Crossbow"){ %> selected <% } %>>Crossbow
                    <option disabled>─────────</option>
                    <option value = "Stave" <% if(weapon.Wep_Class==="Stave"){ %> selected <% } %>>Stave
                    <option value = "Pyromancy Flame" <% if(weapon.Wep_Class==="Pyromancy Flame"){ %> selected <% } %>>Pyromancy Flame
                    <option value = "Talisman" <% if(weapon.Wep_Class==="Talisman"){ %> selected <% } %>>Talisman
                    <option value = "Sacred Chime" <% if(weapon.Wep_Class==="Sacred Chime"){ %> selected <% } %>>Sacred Chime
                    <option disabled>─────────</option>
                    <option value = "Small Shield" <% if(weapon.Wep_Class==="Small Shield"){ %> selected <% } %>>Small Shield
                    <option value = "Medium Shield" <% if(weapon.Wep_Class==="Medium Shield"){ %> selected <% } %>>Medium Shield
                    <option value = "Great Shield" <% if(weapon.Wep_Class==="Great Shield"){ %> selected <% } %>>Great Shield
                </select>
            </td>
            <td><input name="Wep_Crit" type = "number" min = "100" step = "1" placeholder = "100+" value= <%= weapon.Wep_Crit %>></td>
            <td><input name="Wep_Dur" type = "number" min = "0" step = "1" placeholder = "0+" value= <%= weapon.Wep_Dur %>></td>
            <td><input name="Wep_Weight" type = "number" min = "0" step = ".1" placeholder = "0.0+" value= <%= weapon.Wep_Weight %>></td>
            <td>
                <select name="Is_Scale_Up">
                    <option value = "2">Titanite
                    <option value = "1" <% if(weapon.Is_Scale_Up==="1"){ %> selected <% } %>>Twinkling Titanite
                    <option value = "0" <% if(weapon.Is_Scale_Up==="0"){ %> selected <% } %>>Titanite Scale
                </select>
            </td>
            <td><input name="Phy_Dmg" type = "number" min = "0" step = ".1" placeholder = "0.0+" value= <%= weapon.Phy_Dmg %>></td>
            <td><input name="Mag_Dmg" type = "number" min = "0" step = ".1" placeholder = "0.0+" value= <%= weapon.Mag_Dmg %>></td>
            <td><input name="Fir_Dmg" type = "number" min = "0" step = ".1" placeholder = "0.0+" value= <%= weapon.Fir_Dmg %>></td>
            <td><input name="Lit_Dmg" type = "number" min = "0" step = ".1" placeholder = "0.0+" value= <%= weapon.Lit_Dmg %>></td>
            <td><input name="Drk_Dmg" type = "number" min = "0" step = ".1" placeholder = "0.0+" value= <%= weapon.Drk_Dmg %>></td>
            <td>
                <select name="Str_Grad" style="width:100%">
                    <option value = "-">-
                    <option value = "S" <% if(weapon.Str_Grad==="S"){ %> selected <% } %>>S
                    <option value = "A" <% if(weapon.Str_Grad==="A"){ %> selected <% } %>>A
                    <option value = "B" <% if(weapon.Str_Grad==="B"){ %> selected <% } %>>B
                    <option value = "C" <% if(weapon.Str_Grad==="C"){ %> selected <% } %>>C
                    <option value = "D" <% if(weapon.Str_Grad==="D"){ %> selected <% } %>>D
                    <option value = "E" <% if(weapon.Str_Grad==="E"){ %> selected <% } %>>E
                </select>
            </td>
            <td>
                <select name="Dex_Grad"style="width:100%">
                    <option value = "-">-
                    <option value = "S" <% if(weapon.Dex_Grad==="S"){ %> selected <% } %>>S
                    <option value = "A" <% if(weapon.Dex_Grad==="A"){ %> selected <% } %>>A
                    <option value = "B" <% if(weapon.Dex_Grad==="B"){ %> selected <% } %>>B
                    <option value = "C" <% if(weapon.Dex_Grad==="C"){ %> selected <% } %>>C
                    <option value = "D" <% if(weapon.Dex_Grad==="D"){ %> selected <% } %>>D
                    <option value = "E" <% if(weapon.Dex_Grad==="E"){ %> selected <% } %>>E
                </select>
            </td>
            <td>
                <select name="Int_Grad"style="width:100%">
                    <option value = "-">-
                    <option value = "S" <% if(weapon.Int_Grad==="S"){ %> selected <% } %>>S
                    <option value = "A" <% if(weapon.Int_Grad==="A"){ %> selected <% } %>>A
                    <option value = "B" <% if(weapon.Int_Grad==="B"){ %> selected <% } %>>B
                    <option value = "C" <% if(weapon.Int_Grad==="C"){ %> selected <% } %>>C
                    <option value = "D" <% if(weapon.Int_Grad==="D"){ %> selected <% } %>>D
                    <option value = "E" <% if(weapon.Int_Grad==="E"){ %> selected <% } %>>E
                </select>
            </td>
            <td>
                <select name="Fat_Grad"style="width:100%">
                    <option value = "-">-
                    <option value = "S" <% if(weapon.Fat_Grad==="S"){ %> selected <% } %>>S
                    <option value = "A" <% if(weapon.Fat_Grad==="A"){ %> selected <% } %>>A
                    <option value = "B" <% if(weapon.Fat_Grad==="B"){ %> selected <% } %>>B
                    <option value = "C" <% if(weapon.Fat_Grad==="C"){ %> selected <% } %>>C
                    <option value = "D" <% if(weapon.Fat_Grad==="D"){ %> selected <% } %>>D
                    <option value = "E" <% if(weapon.Fat_Grad==="E"){ %> selected <% } %>>E
                </select>
            </td>
            <td><input name="Str_Req" type = "number" min = "0" max = "99" step = "1" placeholder = "0-99" value= <%= weapon.Str_Req %>></td>
            <td><input name="Dex_Req" type = "number" min = "0" max = "99" step = "1" placeholder = "0-99" value= <%= weapon.Dex_Req %>></td>
            <td><input name="Int_Req" type = "number" min = "0" max = "99" step = "1" placeholder = "0-99" value= <%= weapon.Int_Req %>></td>
            <td><input name="Fat_Req" type = "number" min = "0" max = "99" step = "1" placeholder = "0-99" value= <%= weapon.Fat_Req %>></td>
        </tr>
        <tr>
            <td colspan="20">
                <input type="submit" value="Update Weapon" style="width:100%; max-width:100%;">
            </td>
        </tr>

    </table>
</form>

</body>
</html>